<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Flasher.app's Info.plist; package.sh fills in @VERSION@. -->
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Flasher</string>
	<key>CFBundleDisplayName</key>
	<string>Flasher</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.developer180527.flasher</string>
	<key>CFBundleExecutable</key>
	<string>Flasher</string>
	<key>CFBundleIconFile</key>
	<string>flasher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© Venu Gopal</string>
</dict>
</plist>
